<div>
	<h3>Connectez vous à Bargular !</h3>

	<h4 *ngIf="isConnected"> Connecté en temps que : "{{ userService.LoggedUser.username }}"</h4>

	<input type="text" placeholder="login" [(ngModel)]="login.name">
	<input type="text" placeholder="password" [(ngModel)]="login.password">	

	<button (click)="tryToLogIn()" >LogIn !</button>
</div>
