<pre>
	Connecté en temps que :

	<span>Nom : {{ userService.LoggedUser.username }}</span>
	<span *ngIf="userService.LoggedUser.role == 1">Role : Visiteur</span><span *ngIf="userService.LoggedUser.role == 2">Role : Artiste</span><span *ngIf="userService.LoggedUser.role == 3">Role : Gérant</span>
</pre>
