<h1 style="text-align: center;"> Welcome to Bargular !</h1>

<pre>
<a href="https://www.linkedin.com/in/hugo-schieres-837823165/" target="_blank" style="text-decoration: none;"> Hugo Schieres</a>

<a href="https://www.linkedin.com/in/pierre-cochard-542b57100/" target="_blank" style="text-decoration: none;"> Pierre Cochard</a>

<a href="https://www.linkedin.com/in/joffrey-jeunehomme-1a7bb6173/" target="_blank" style="text-decoration: none;"> Joffrey Jeunehomme</a></pre>
