<div>

<!--
	<h3>Bargular</h3>
	<a routerLink="/">
		Accueil
		<br>
	</a>

	<a routerLink="/planning">
		Planning
		<br>
	</a>

	<a *ngIf="isNotConnected()" routerLink="/login">
		Connection
		<br>
	</a>

	<a *ngIf="isConnected()" routerLink="/profile">
		Profil
		<br>
	</a>

	<a *ngIf="isConnected()" routerLink="/login" (click)="appLogOut()">
		LogOut
	</a>
-->
	
	<main-nav></main-nav>
	<!--<router-outlet></router-outlet-->

</div>

